#pos {
    padding: 10px;
    background: black;
    color: yellow;
    cursor: pointer;
    padding-left: 10px;
}

h2 {
    color: deeppink;
    border: 1px solid green;
    padding: 10px;
}

#ps {
    padding: 40px;
    margin-bottom: 10px;
}

#pos1 {
    padding: 10px;
}

.hello {
    color: yellow;
}
